@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Azure Tests</h1>
    <p>Sample app for deployment to Azure App Service, so far those are the deploys we tried:</p>
    <div style="text-align: left;">
        <ul>
            <li>Publish profile</li> 
            <li>Publish profile - Imported from app service</li> 
            <li>Zip deploy</li>
            <li>Run from package (zip file)</li>
            <li>FTP</li>
            <li>Git Deploy</li>
        </ul>
    </div>
</div>
